<div *ngIf="ItemService.loading">
    <main *ngFor="let item of createRange()" class="page mb-2">
      <!-- Content -->
      <div class="page-content">
        <!-- Placeholder Content -->
        <div class="placeholder-content">
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
        </div>
      </div>
    </main>
  </div>
  
  <div *ngIf="itemss.length >0 ; else emptyTemplate">
    <div *ngFor="let item of itemss | paginate:{itemsPerPage:limit , currentPage:page,totalItems:totalCount}">
      <ng-container
        *ngTemplateOutlet="horizontalTemplate;context:{id:item.stockCode,itemName:item.stockName,quantityAvailable:item.quantityAvailable,unit:item.unit,status:item.status,price:item.cost,currencyCode:item.currencyCode}">
      </ng-container>
    </div>
  </div>
  
  <ng-template #emptyTemplate>
    <div *ngIf="!ItemService.loading" class="alert alert-danger" role="alert">
      Stok Bulunamadı !
    </div>
  </ng-template>
  
  <ng-template let-id=id let-itemName=itemName let-quantityAvailable=quantityAvailable let-categoryName=categoryName
    let-unit=unit let-status ="status" let-price ="price" let-currencyCode="currencyCode" let-picture="picture"
    #horizontalTemplate>

    <div class="card bg-light border-primary mb-4">
      <div class="card body ">
        <div class="row">
          <div class="col-md-4">
            <img [src]="picture || defaultArticlePicture" class="card-img">
          </div>
          <div class="col-md-8">
            <h5 class="title mt-2">{{itemName}}</h5>
            <p></p>
            <p class="text">Stok Kodu : {{id}}</p> 
            <p class="text">Birimi    : {{unit}}</p>   
            
          </div>
        </div>
      </div>
      <div class="card-footer bg-transparent border-dark">
        <span class="mr-1"></span>
        <span class="badge badge-pill badge-success"><i class="fa fa-folder"></i> {{categoryName}}</span>
        <span class="mr-1"></span>
        <span class="badge badge-pill badge-primary"><i class="fa fa-comments"></i> {{"Stok Durumu : "+ status}}</span>
        <span class="mr-1"></span>
        <span class="badge badge-pill badge-success"><i class="fas fa-tag"></i> {{"Kalan : " + quantityAvailable}}</span>
        <span class="mr-1"></span>
        <span class="badge badge-pill badge-success"><i class="far fa-money-bill-alt"></i> {{price}}{{" " +currencyCode}}</span>

        <a [routerLink]="['/stock' ,id]" class="btn btn-primary btn-sm float-right">  Sat  </a>
      </div>
    </div>
  </ng-template>
  <pagination-controls *ngIf="totalCount>limit" responsive="true" (pageChange)="pageChanged($event)"
    previousLabel="Geri" nextLabel='İleri'></pagination-controls>
  