<div class="card border-primary">
    <div class="card-header"><strong>Kategoriler</strong> </div>
    <div class="card-body text-primary">
      <div *ngIf="categories.length == 0" class="d-flex justify-content-center">
        <div class="spinner-grow text-primary" role="status">
          <span class="sr-only">Yükleniyor...</span>
        </div>
      </div>
  
      <div class="p">
        <a [routerLink]="['/stocks']" class="btn btn-link text-left"><i
            class="fas fa-arrow-alt-circle-right"> {{"Hepsi"}}</i></a>
      </div>
      <h1 *ngFor="let item of categories">
        <div class="p">
          <a [routerLink]="['/stocks/bycategory',item.categoryId]" class="btn btn-link text-left"><i
              class="fas fa-arrow-alt-circle-right"> {{item.categoryName}}</i></a>
        </div>
      </h1>
  
  
    </div>
  </div>
  