<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Bakkal Pos </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item" [ngClass]="{active : pageActive==1 }">
            <a class="nav-link" routerLink="/"><i class="fas fa-house-user"></i> Anasayfa <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" [ngClass]="{active : pageActive==2 }">
            <a class="nav-link" routerLink="/sale"><i class="fas fa-id-card-alt"></i> Satış <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" [ngClass]="{active : pageActive==3 }">
            <a class="nav-link" routerLink="/account"><i class="fas fa-address-card"></i> Hesap Kartları <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" [ngClass]="{active : pageActive==4 }">
            <a class="nav-link" routerLink="/invoice"><i class="fas fa-address-card"></i> Fatura <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" [ngClass]="{active : pageActive==5 }">
            <a class="nav-link" routerLink="/report"><i class="fas fa-address-card"></i> Rapor <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" [ngClass]="{active : pageActive==6 }">
            <a class="nav-link" routerLink="/stocks"><i class="fas fa-address-card"></i> Ürün Yönetimi <span
                class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item ml-5 ">
            <a class="nav-link" routerLink="/admin"><i class="fas fa-user-shield"></i> Yönetici Girişi <span
                class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input #searchText class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button (click)="search(searchText.value)" class="btn btn-outline-success my-1 my-sm-0"
        type="button">Search</button>
    </form>
  </nav>
  